@mixin themable ($theme-name, $body-bg, $h1-bg){
    .#{$theme-name}{
        body{
        transition: 1s;
        }
        h1{
            color: $h1-bg;
            text-align: center;
        }
        .wrapper{
           padding: 0;
            margin: 0;
            box-sizing: border-box;
            background-color: $body-bg;
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        button{
            padding: 8px;
            color: rgb(133, 92, 92);
            border: none;
            border-radius: 5px;
            width: 50px;
            margin-top: 1%;
            outline: none;
        }
        button:hover{
            background-color: blanchedalmond;
        }
  }
}

@include themable(dark-theme, #ffffff, #000000, );
@include themable(light-theme, #000000, #ffffff, );
