@mixin themable ($theme-name, $body-bg, $h1-bg,){
    .#{$theme-name}{
        body{
        background: rgb(29, 29, 29);
        transition: 1s;
        
        }
        h1{
            color: rgb(255, 255, 255);
            text-align: center;
        }
        .wrapper{
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        button{
            padding: 8px;
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            border: none;
            border-radius: 5px;
            width: 50px;
            margin-top: 1%;
            outline: none;
        }
        button:hover{
            background-color: blanchedalmond;
        }
    }
}

@include themable(theme-1, #000000, #ffffff, );
@include themable(theme-2, #ffffff, #000000, );